<!doctype html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Alertz</title>
		<link rel="stylesheet" href="/theme/style.css" />
		<link rel="icon" type="image/png" href="/img/alerta.png" />
	</head>
	<body>
	<div class="container-fluid h-100 pe-0">
		<div class="hstack h-100 align-items-start">
			<div class="vsatck w-25">
				<header class="mt-3 mb-5 text-center">
					<img src="/img/alerta.png" alt="" />
				</header>
				<form id="filter" method="get" action="/flag">
					<fieldset>
						<legend class="ms-4">Filtro</legend>
						<div class="mx-5 my-3">
							<select class="form-select" name="type" multiple size="10" aria-label="multiple 10 select">
								<option value="FIRE">Incêndio</option>
								<option value="FLOOD">Enchente</option>
								<option value="LANDSLIDE">Deslizamento</option>
								<option value="HURRICANE">Furacão</option>
							</select>
						</div>
						<div class="mx-5 mt-3 mb-4 form-floating px-2 pb-3">
							<label for="distance" class="hstack w-100 px-0 mt-2 form-label">
								<span class="">100m</span>
								<span class="mx-auto">10km</span>
								<span class="">1Mm</span>
							</label>
							<input class="form-range" name="distance" id="distance" type="range" min="1" max="9" step=".2" list="tickmarks" />

							<datalist id="tickmarks">
							  <option value="1" label="100m">
							  <option value="2">
							  <option value="3">
							  <option value="4">
							  <option value="5" label="10km">
							  <option value="6">
							  <option value="7">
							  <option value="8">
							  <option value="9" label="1000km">
							</datalist>
						</div>
						<div class="col-auto text-end">
							<button type="submit" class="btn btn-primary me-5">Filtrar</button>
						</div>
					</fieldset>
				</form>
				<form id="newFlag" method="post" action="/flag" class="mt-5">
					<fieldset>
						<legend class="ms-4">Adicionar onde estou</legend>
						<div class="mx-5 my-3">
							<select class="form-select" name="type" aria-label="select">
								<option value="FIRE">Incêndio</option>
								<option value="FLOOD">Enchente</option>
								<option value="LANDSLIDE">Deslizamento</option>
								<option value="HURRICANE">Furacão</option>
							</select>
					
						</div>
						<div class="text-end">
							<button type="submit" class="btn btn-primary me-5">Adicionar</button>
						</div>
						<div class="">
							<p id="status"></p>
						</div>
					</fieldset>
				</form>
			</div>
			<div id="map" class="h-100 w-75"></div>
		</div>
	</div>

	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
      defer
    ></script>
	<script src="/js/functions.js"></script>
</body>
</html>